<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Training">
    <listeners>
        <listener class-name="com.miamato.listeners.TestResultsListener" />
        <listener class-name="com.miamato.listeners.TestReporter" />
    </listeners>
    <test name="Allure Reports Example Chrome">
        <parameter name="browserName" value="Chrome" />
        <classes>
            <class name="com.miamato.AmazonTitleTest" />
            <class name="com.miamato.SearchItemTest" />
            <class name="com.miamato.AddToCartTest" />
            <class name="com.miamato.RemoveItemFromCartTest" />
            <class name="com.miamato.ChangeCurrencyTest" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->